extends layout 
block content 
    .admin-button-container
        a.admin-button(href="/admin/add") Add Product 
        a.admin-button(href="/admin/edit") Edit Product 
        a.admin-button(href="/admin/remove") Remove Product