extends layout     
block content
    .password-admin 
        h1 This is a password protected page
        form(action="/admin" method="POST") 
            input(type="password" name="admin_password_attempt" id="admin_password_attempt" placeholder="Admin password")
            button(type="submit") Submit