mixin about()
    h2 How our company got founded 
    p Our company was founded in 1973 by both Chibib and Chiboo. Our goal was to redefine the computer. We wanted to make products that amazed everyone. So far, we have been successful in redefining computer time. We have made a number of products since our launch, including temperature convertors, all the way to fun games.
    if url.startsWith('/about')
        h2 Our founders 
        p Chibib and Chiboo are two successful business chickens, who partnered up to make a business together. Chibib is the richest chicken out there, with Chiboo as second place. Both love papaya, and strive to give their wealth to, not charity, but their papayas.
        h2 Our impact 
        p Our impact has been amazing. We have made computer time the way it is now. We are the reason computers  are the way they are today. We love our job, and we love our customers. That is why, for a majority of programs we make, the source code is available to see on Github. Our environmental impact is also very good. We have been carbon-neutral since 1999. We believe that a company lasts a short time, but a legacy lasts forever.